.section-form,
.block-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid #bb9169;
  flex-wrap: wrap;
  width: fit-content;
  padding: 20px;
}

.card-form {
  background: #ffffff;
  padding: 1rem 2rem;
  width: 150px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  font-size: 0.65rem;
  align-items: center;
  align-self: center;
  border: 2px solid #bb9169;
  border-radius: 10px 10px 0px 0px;
}

.button-submit {
  margin-top: 20px;
}

.wraper-switch {
  display: flex;
  justify-content: flex-start;
}

.label-name-item {
  margin-bottom: 0;
}

.input-agree {
  width: 25px;
  height: 20px;
}

.error {
  color: red;
  font-style: italic;
  font-size: 9px;
}

.block-cards {
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.message {
  color: rgb(0, 255, 13);
  font-style: italic;
  font: 2em sans-serif;
}


.form p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-form img {
  width: 95% ;
  height: 50%;
}